@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block: 15px;
  margin-inline: 20px;
}

header h1 {
  font-size: 2.4em;
  font-weight: 400;
}

.btn-menu {
  border: none;
  background-color: #222;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
}

main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main li {
  list-style: none;
  font-size: 3rem;
}

main a {
  color: white;
}

#modalMenu {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
}

#modalMenu li {
  list-style: none;
}

#modalMenu a {
  text-decoration: none;
}

.create-new-mineral {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

input {
  padding-left: 15px;
  padding-block: 10px;
  font-size: 1.5rem;
  width: 90%;
}

#inpEditInfo {
  font-size: 1rem;
  min-height: fit-content;
  overflow-y: scroll;
  padding: 15px;
}

.sub-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.minerals,
.ingredients,
.shopping-list-items {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  border-top: 2px solid grey;
}

.mineral:last-child,
.ingredient:last-child {
  border-bottom: 2px solid grey;
}

.list-item::-webkit-scrollbar {
  display: none;
}

.list-item img {
  height: 40px;
  width: 40px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid grey;
}

.list-item-main {
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.list-item-main p {
  font-size: x-large;
  padding-block: 10px;
}

.list-item-title {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.list-item-title span {
  font-size: 1.2rem;
}

.mineral-side-right,
.list-item-side-right {
  display: flex;
}

.text-muted {
  color: grey;
  font-weight: normal;
}

.text-added {
  color: green;
  font-weight: 600;
  font-style: italic;
}

.btn {
  border: none;
  font-size: x-large;
  padding-inline: 20px;
  margin-right: 2px;
}

[class^='btn btn-add'] {
  background: #222;
  color: green;
  font-size: x-large;
}

[class^='btn btn-add']:hover {
  background: #222;
  color: darkgreen;
}

[class^='btn btn-delete'] {
  background-color: red;
  color: white;
  height: 100%;
}

.btn-edit-mineral,
.btn-edit-ingredient {
  background-color: orange;
  color: white;
}

.btn-info {
  background-color: #222;
  color: white;
}

.hidden {
  display: none;
}

.add-new-ingredient-modal {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-ingredient-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-ingredient-modal input {
  margin-top: 15px;
  border: none;
  text-align: center;
  background: #ededed;
  border-radius: 10rem;
}

.add-new-ingredient-modal input[type='submit'] {
  margin-top: 15px;
  border: none;
  text-align: center;
  background: #222;
  color: white;
  border-radius: 10rem;
}

.add-new-ingredient-modal select {
  margin-top: 15px;
  font-size: x-large;
  border: none;
  background: #ededed;
  border-radius: 10rem;
  padding: 10px;
  width: 90%;
  text-align: center;
}

.shopping-list-category-header,
.ingredients-list-category-header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-block: 10px;
}

.shopping-list-item-main p {
  font-size: 1.5rem;
}

input[type='checkbox'] {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.checkbox {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.modal {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  top: 25px;
  left: 10px;
  margin-inline: auto;
  width: 95%;
  height: 90%;
  background-color: white;
  color: #222;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow-y: scroll;
}

.btn-close-modal {
  position: absolute;
  top: 01rem;
  right: 1.4rem;
  height: fit-content;
  font-size: 2.2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.btn-close-modal:hover {
  color: #888;
}

.modal-content h1 {
  padding-bottom: 15px;
}

/* INGREDIENT ROW IN MODAL */

.ingredient-to-list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 1.3rem;
  cursor: copy;
}

.ingredient-to-list:last-child {
  border-bottom: none;
  margin-bottom: 10px;
}

.ingredient-to-list img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

/* FILTER ADD INGREDIENTS */

.add-ingredient-filter {
  margin-block: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#filter-add-to-shopping-list {
  background: #ededed;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  width: 85%;
  height: 50px;
}

#filter-add-to-shopping-list:focus {
  background: #222;
  color: white;
  outline: none;
}

#btnClearFilter {
  background: #dbdbdb;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#btnClearFilter:hover {
  background-color: #222;
  color: white;
}
